<launch>

  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="depth_registration" value="true" />
  </include>

  <node name="rgbviewer" type="image_view" pkg="image_view" output="screen" args="image:=/camera/rgb/image_color" />
  <node name="depthviewer" type="image_view" pkg="image_view" output="screen" args="image:=/camera/depth_registered/image" />
</launch>
